{{/* Social share buttons shown under license */}}
{{ $show := .Site.Params.showShareButtons | default true }}
{{ if $show }}
<div class="post-share" style="margin-top: 1rem; display:flex; align-items:center; gap:.5rem; flex-wrap: wrap;">
  <style>
    .post-share .icon { width: 18px; height: 18px; }
    .post-share .iconfont { display:inline-flex; align-items:center; gap:.25rem; }
  </style>
  <span class="post-share-title" style="margin-right: .25rem;">Share:</span>
  {{ $url := .Permalink | urlquery }}
  {{ $title := .Title | urlquery }}
  <a class="iconfont post-share-link post-share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ $url }}" target="_blank" rel="noopener" title="Share on Facebook" aria-label="Share on Facebook">
    {{ partial "svg/facebook.svg" }}
    <span style="margin-left:.25rem;">Facebook</span>
  </a>

  <a class="iconfont post-share-link post-share-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ $url }}&title={{ $title }}" target="_blank" rel="noopener" title="Share on LinkedIn" aria-label="Share on LinkedIn">
    {{ partial "svg/linkedin.svg" }}
    <span style="margin-left:.25rem;">LinkedIn</span>
  </a>

  <a class="iconfont post-share-link post-share-x" href="https://twitter.com/intent/tweet?url={{ $url }}&text={{ $title }}" target="_blank" rel="noopener" title="Share on X" aria-label="Share on X">
    {{ partial "svg/twitter.svg" }}
    <span style="margin-left:.25rem;">X</span>
  </a>

  <a class="iconfont post-share-link post-share-reddit" href="https://www.reddit.com/submit?url={{ $url }}&title={{ $title }}" target="_blank" rel="noopener" title="Share on Reddit" aria-label="Share on Reddit">
    {{ partial "svg/reddit.svg" }}
    <span style="margin-left:.25rem;">Reddit</span>
  </a>

  {{ $kakaoAppKey := .Site.Params.kakao.appKey }}
  {{ if $kakaoAppKey }}
    <a class="iconfont post-share-link post-share-kakao" href="#" onclick="return shareKakao();" title="Share on KakaoTalk" aria-label="Share on KakaoTalk">
      {{ partial "svg/kakao.svg" }}
      <span style="margin-left:.25rem;">KakaoTalk</span>
    </a>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js" crossorigin="anonymous"></script>
    <script>
      (function(){
        try {
          if (window.Kakao && !window.Kakao.isInitialized()) {
            window.Kakao.init({{ $.Site.Params.kakao.appKey | jsonify }});
          }
        } catch(e) {}
        window.shareKakao = function(){
          try {
            if (!window.Kakao) return false;
            window.Kakao.Share.sendDefault({
              objectType: 'feed',
              content: {
                title: {{ $.Title | jsonify }},
                description: '',
                imageUrl: '',
                link: { mobileWebUrl: {{ $.Permalink | jsonify }}, webUrl: {{ $.Permalink | jsonify }} }
              },
              buttons: [ { title: '보기', link: { mobileWebUrl: {{ $.Permalink | jsonify }}, webUrl: {{ $.Permalink | jsonify }} } } ]
            });
          } catch(e) {}
          return false;
        }
      })();
    </script>
  {{ else }}
    <a class="iconfont post-share-link post-share-kakao" href="https://story.kakao.com/share?url={{ $url }}" target="_blank" rel="noopener" title="Share on KakaoStory" aria-label="Share on KakaoStory">
      {{ partial "svg/kakao.svg" }}
      <span style="margin-left:.25rem;">Kakao</span>
    </a>
  {{ end }}
</div>
{{ end }}
