<link rel="icon" href="{{ "image/favicon.ico" | relURL }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "image/apple-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "image/favicon-96x96.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "image/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "image/favicon-16x16.png" | relURL }}">
<!-- <link rel="manifest" href="{{ "manifest.json" | relURL }}"> -->
<!-- <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}" color="#5bbad5"> -->
